
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    gap: 10px;
    
    background-color: #ffffff;
}

#encabezado {
    height: 60px;
    background-color: black;
    text-align: center;
}

#principal {
    display: flex;
    flex: 1;
    gap: 10px;
}

#barra-lateral {
    width: 100px;
    background-color: #84734d;
    
}

#contenido {
    flex: 1;
    background-color: #d3d3d3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
}

.cuadro {
    background-color: #000000;
    min-height: 100px;
}

#pie-pagina {
    height: 60px;
    background-color: #161616;
}
#Titulo{
    color: white;
    padding-top: 10px;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}